html, body {
  margin: 0;
  padding: 0;
}

.row {
  margin: 40px 0px;
}

img {
  /*width: 570px;*/
  width: 100%;
  max-width: 570px;

  -webkit-box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow:    0px 5px 20px 0px rgba(50, 50, 50, 0.2);
  box-shadow:         0px 5px 20px 0px rgba(50, 50, 50, 0.2);
}

p {
  color: #9C9C9C;
  line-height: 1.8em;
}

p.p {
  font-size: 1.4em;
  font-weight: 200;
}

.dark-grey, h1 {
  color: #575757;
}

.blue {
  color: #0198E1;
}